.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.child-list-item{
  /*background-color: blue;*/
  color: rgb(212, 52, 52);
  box-shadow: 2px 2px 30px lightgray; 
  padding: 20px;
  border-radius: 10px;  width: 500px;
  height: 550px;
  overflow: hidden;
  position:relative;
  margin: 30px 410px;
  background-color: cornsilk;
  width: 567px;
}

.child:hover {
  color: black;
  background-color:aliceblue;
  padding: 1px;


 
}
button{
background-color:brown(88, 148, 163);
  
  text-decoration: none;
  padding:5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width:125px;
  height: 41px;
  
}
.addbutton{
  margin-left:10px;
  width:105px;
  font-size: 15px;
  padding: 10px;
}
.modalclosebutton{
  display: block;
  cursor: pointer;
  text-align: center;
  margin-left:137px;
}
input{
  border-radius:8px;
  padding: 10px;
}
.modalClass{
  padding: 15px;
  margin:50px;
  text-align: center;

}
.list {

  margin: 10px;
  list-style-type:none;
  
}
ul{
  text-decoration: none;
  list-style-type:none;
  padding: 0;
}
li{
  text-decoration: none;
}
.child .child-inline {
  display: inline-block;
  /* vertical-align: top; */
  vertical-align: middle;
  width: 30%;
  overflow-wrap: break-word;
  



}

.edit, .value, .delete {
  width: 30%;

}


.hello{
  color: red;
}